apiVersion: v1
kind: ReplicationController
metadata:
  name: alertmanager-rc
spec:
  replicas: 1
  selector:
    app: alertmanager
  template:
    metadata:
      name: alertmanager
      labels:
        app: alertmanager
    spec:
      hostNetwork: true
      nodeSelector:
        monitoring: telemetry
      containers:
      - name: alertmanager
        image: prom/alertmanager
        args:
          - --config.file=/etc/alertmanager/config_out/alertmanager.yml
        ports:
        - containerPort: 9093
        volumeMounts:
        - mountPath: /etc/alertmanager/config_out
          name: alertmanager-volume
      volumes:
      - name: alertmanager-volume
        persistentVolumeClaim:
          claimName: telemetry-pvc
